:root{
    --font-color: antiquewhite;
    --theme-color: #0ea5e9;
    --card-background: rgba(255, 255, 255, 0.2);
}
body{
    background-color: var(--theme-color);
    color: var(--font-color);
    font-size: 12px;
}

.main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-size: 120%;
}



.header > p{
    font-size: 18px;
}

.weather_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    font-size: 12px;
}

#weather_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 120%;
    
}

.weather_results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 50%;
}

input{
    appearance: none;
    box-sizing: border-box;
    font-family: inherit;
    padding: 10px 15px;
    width: 80%;
    height: 32px;
    border-radius: 6px;
    border-style: none;
    background-color: var(--font-color);
    color: var(--theme-color);
    font-size: 1.1rem;
}

label{
    width: 30%;
    font-size: 1.3rem;
    font-weight: bolder;
}

button{
    font-family: inherit;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    width: 96px;
    height: 36px;
    border-radius: 6px;
    border-style: none;
    background-color: var(--card-background);
    color: var(--font-color);
}

#location_name{
    font-size: 1.5rem;
}

#temperature{
    font-size: 4rem;
    margin: 0;
}

#weather_cond_div{
    display: flex;
    align-items: center;
    gap: 8px;
}

#weather_condition{
    font-size: 1.5rem;
}

#text_grid{
    background-color: var(--card-background);
    border-radius: 12px;
    border-style: none;
    box-sizing: border-box;
    padding: 8px;
    grid-column: 1/ 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
